# MC102OP-1s2018 - Prova 1 - Resultado
Este é apenas um exemplo de correção. As provas eram iguais mas algumas podem ter sido mais iguais do que as outras... Portanto, as questões abaixo podem ser ligeiramente diferentes das que você realmente respondeu.

Se você, por acaso, respondeu uma questão que não estava na sua prova, sua nota estará zerada.

## Questão 1 (10 pontos)
### Enunciado
![](../img/MC102-2018s1-Prova1-split/File 1.pdf)

### Solução
Vamos dar nome às condições que devem ser atendidas:
-   a: Maria e Marcos recebem autorização para tirar férias em dezembro.
-   b: Carla não fica em recuperação. Em sua escola, a nota mínima para aprovação é 7!
-   c: O 13° salário de Maria **ou** o 13° salário de Marcos são liberados antes do dia 11 de dezembro.
-   d: O valor total da reserva do hotel e das passagens de avião é igual ou inferior a R$ 10.000.

A família irá viajar se as quatro condições forem atendidas, isto é:
```irão_viajar = a and b and c and d```

Vamos calcular cada uma dessas condições:

In [1]:
s = '''10	9	10	Sim	Sim	01/12	01/12	R$ 3.000	R$ 3.500	Sim
9.1	9.2	7.9	Sim	Sim	11/12	11/12	R$ 3.200	R$ 4.800	Não
8	8	8	Sim	Sim	10/12	11/12	R$ 2.150	R$ 7.800	Sim
9	9	9	Sim	Não	05/12	01/12	R$ 4.000	R$ 3.000	Não
7	7	7	Não	Sim	02/12	09/12	R$ 3.450	R$ 6.250	Não
7	7	7	Sim	Sim	12/12	08/12	R$ 4.500	R$ 5.500	Sim
6.9	7	8	Sim	Sim	25/12	03/12	R$ 2.750	R$ 4.250	Não
7.5	7.4	7.3	Não	Não	02/12	08/12	R$ 5.500	R$ 4.500	Não
7	7	7.1	Sim	Sim	11/12	10/12	R$ 3.208	R$ 6.792	Sim
6.9	10	10	Sim	Sim	04/12	05/12	R$ 1.500	R$ 3.300	Não'''

sr = s.replace('\n', '\t')
ls = sr.split('\t')

notas = []
férias = []
décimo_terceiro = []
valores = []
for i in range(0, 100, 10):
    notas.append([ls[i], ls[i+1], ls[i+2]])
    férias.append([ls[i+3], ls[i+4]])
    décimo_terceiro.append([ls[i+5], ls[i+6]])
    valores.append([ls[i+7], ls[i+8]])

In [2]:
print('a: Férias')
print(f"{'Maria':6} {'Marcos':6} {'a':6}")
a = []
for i in range(10):
    x = férias[i]
    a.append(x[0] == 'Sim') and (x[1] == 'Sim')
    print(f'{x[0]:6} {x[1]:6} {repr(a[i]):6}')

a: Férias
Maria  Marcos a
Sim    Sim    True
Sim    Sim    True
Sim    Sim    True
Sim    Não    True
Não    Sim    False
Sim    Sim    True
Sim    Sim    True
Não    Não    False
Sim    Sim    True
Sim    Sim    True

In [3]:
print('b: Notas da Carla')
print(f"{'Ciênc.':>6} {'Mat.':>6} {'Port.':>6}  {'b':6}")
b = [True] * 10
for i in range(10):
    n = notas[i]
    for j in range(3):
        n[j] = float(n[j])
        b[i] = b[i] and (n[j] >= 7)
    print(f'{n[0]:6} {n[1]:6} {n[2]:6}  {repr(b[i]):6}')

b: Notas da Carla
Ciênc.   Mat.  Port.  b
  10.0    9.0   10.0  True
   9.1    9.2    7.9  True
   8.0    8.0    8.0  True
   9.0    9.0    9.0  True
   7.0    7.0    7.0  True
   7.0    7.0    7.0  True
   6.9    7.0    8.0  False
   7.5    7.4    7.3  True
   7.0    7.0    7.1  True
   6.9   10.0   10.0  False

In [4]:
print('c: Décimo-terceiro')
print(f"{'Maria':6} {'Marcos':6} {'c':6}")
c = []
for i in range(10):
    x = décimo_terceiro[i]
    c.append(x[0] < '11/12') or (x[1] < '11/12')
    print(f'{x[0]:6} {x[1]:6} {repr(c[i]):6}')

c: Décimo-terceiro
Maria  Marcos c
01/12  01/12  True
11/12  11/12  False
10/12  11/12  True
05/12  01/12  True
02/12  09/12  True
12/12  08/12  False
25/12  03/12  False
02/12  08/12  True
11/12  10/12  False
04/12  05/12  True

In [5]:
print('d: Valores')
print(f"{'Hotel':5} {'Pass':5} {'d':5}")
d = [True] * 10
for i in range(10):
    x = valores[i][:]
    for j in range(2):
        x[j] = 1000 * int(x[j][3]) + int(x[j][5:])
    d[i] = sum(x) <= 10000
    print(f'{x[0]:<5} {x[1]:<5} {repr(d[i]):5}')

d: Valores
Hotel Pass  d
3000  3500  True
3200  4800  True
2150  7800  True
4000  3000  True
3450  6250  True
4500  5500  True
2750  4250  True
5500  4500  True
3208  6792  True
1500  3300  True

In [6]:
print('A família irá viajar?')
print(f"{'a':5} {'b':5} {'c':5} {'d':5} {'irão_viajar'}") 
for i in range(10):
    res = a[i] and b[i] and c[i] and d[i]
    print(f'{repr(a[i]):5} {repr(b[i]):5} {repr(c[i]):5} {repr(d[i]):5} {repr(res):5}')

A família irá viajar?
a     b     c     d     irão_viajar
True  True  True  True  True
True  True  False True  False
True  True  True  True  True
True  True  True  True  True
False True  True  True  False
True  True  False True  False
True  False False True  False
False True  True  True  False
True  True  False True  False
True  False True  True  False

### Critério de correção
-   1 ponto por linha correta da tabela. 
-   Uma resposta errada anula uma certa.

## Questão 2 (10 pontos)
### Enunciado
![](../img/MC102-2018s1-Prova1-split/File 2.pdf)

### Solução

In [7]:
n = 6 - 2 * 3
c = 9 == n
print(n)

0

In [8]:
n = 10 - 10
c = 9 > n
print(c)

True

In [9]:
n = 10 // 6
c = 2 > n
print(n, c)

1 True

In [10]:
n = 2**3
c = 10 > n
print("not c =", not c)

not c = False

In [11]:
n = 20 - 10
c1 = 19 > n
c2 = -12 > n
r1 = c1 or c2
r2 = c1 and c2
print(c1, c2)
print(r1, r2)

True False
True False

In [12]:
n = 11 % 2
c1 = 1 > n
c2 = 0 < n
r1 = not c1 and c2
r2 = c1 or not c2
print(r1, r2)
print(c1, c2)

True False
False True

In [13]:
n = 3 + 4 * 5
r1 = not not True
r2 = not (20 < n or n == 23)
c1 = 30 < n or 20 > n and n > 10
c2 = n > 0 or 12 <= n and monty_python
print(n, r1, r2)
print(c1, c2)

23 True False
False True

### Critério de Correção
-   1 ponto por item no bloco superior (4 itens)
-   2 pontos por item no bloco inferior (3 itens)
-   Respostas parcialmente corretas foram consideradas, mas não foram atribuídos pontos quebrados.

## Questão 3 (20 pontos)
### Enunciado

![](../img/MC102-2018s1-Prova1-split/File 3.pdf)

### Solução

O programa desenvolvido por Maria é:
```python
a = int(input())
b = int(input())
if (b < a):
    print("Maior")
elif (b < a):
    print("Menor")
if (a >= b):
    print("Igual")
```
-   Por causa da aplicação de ```int()``` à entrada, esse código *"quebra"* se for digitado um *float* ou uma *string*.
-   A palavra _"Maior"_ é exibida, dentro do primeiro ```if```, quando forem digitados dois inteiros e o segundo for menor que o primeiro, isto é, quando a confição ```b < a``` for satisfeita. 
-   Se forem digitados `13` e `10`, a condição ```b < a``` será verdadeira no primeiro ```if```,
causando a exibição da palavra *"Maior"* e a condição ```a >= b``` também será verdadeira no segundo ```if```, que é independente do primeiro, causando a exibição da palavra *"Igual"*.
-   Neste caso, um programa correto seria, por exemplo,

In [14]:
a = int(input())
b = int(input())
if (a > b):
    print("Maior")
elif (a < b):
    print("Menor")
else:
    print("Igual")

Maior

### Critério de Correção
-   Primeiro item    
    2 pontos, para um _float_ ou uma _string_
-   Segundo item    
    4 pontos, para dois inteiros coerentes
-   Terceiro item    
    4 pontos para uma resposta correta    
    1 ponto se tiver sido apresentada apenas uma palavra
-   Quarto item    
    10 pontos para uma resposta correta
    5 pontos para dois ```if```s
    Pontos proporcionais para respostas parcialmente corretas

## Questão 4 (30 pontos)
### Enunciado
![](../img/MC102-2018s1-Prova1-split/File 4.pdf)

### Solução
#### Primeiro item
A variável ```n``` é inicializada com ```10```. Assim, a condição ```n >= 1``` é verdadeira e o corpo do ```while``` será executado. 

Como `n` é par, a condição ```(n % 2) == 0``` é verdadeira e o corpo do ```if``` será executado. Portanto, será exibida uma linha com o valor de ```n```. 

A variável ```n``` não foi alterada no corpo do ```while``` e, portanto, a condição ```n >= 1``` continuará sendo verdadeira. Assim, o valor de ```n``` será impresso *'eternamente'* ou até que o ususário interrompa a execução do programa.

No exemplo abaixo, foi colocado um contador que simula a ação do usuário e interrompe a execução do programa depois de terem sido exibidas 10 linhas.

In [15]:
k = 0
n = 10
while (n >= 1):
    if (n % 2) == 0:
        print(n)
    k += 1
    if k > 9:
        break

10
10
10
10
10
10
10
10
10
10

#### Segundo item
É preciso exibir uma sequência de valores, mas não é possível usar `for` ou `while`. A única opção é _forçar_ o resultado, como mostram os exemplos abaixo.

In [16]:
print('9\n7\n5\n3\n1')

9
7
5
3
1

In [17]:
s = '''9
7
5
3
1'''
print(s)

9
7
5
3
1

#### Terceiro item
O laço for deve varrer a faixa 9, 7, ...1. Lembrando que `range(start, stop, step)` inclui `start` mas exclui `stop`, não será difícil chegar à solução abaixo:

In [18]:
for x in range(9, 0, -2):
    print(x)

9
7
5
3
1

#### Quarto item
Neste caso, queremos usar um `while` para exibir os múltiplos de 3, de 1 a 11, em ordem crescente, um por linha. Lembrando que um 
```python
for x in range(start, stop, step):
    <comandos>
```
com `step` positivo, é equivalente a
```python
x = start
while x < stop:
    <comandos>
    x += step
```
não é difícil chegar à proposta abaixo:

In [19]:
x = 3
while x < 12:
    print(x)
    x += 3

3
6
9

### Critério de Correção
-   Primeiro item   
    5 pontos pela exibição de pelo menos um valor e indicação do loop infinito
-   Segundo item    
    5 pontos para sequência de valores com `'\n'`    
    2 pontos para sequência de valores sem `'\n'`   
    0 se tiver sido usado mais de um `print()`    
-   Terceiro item    
    10 pontos para `for` com `range(start, stop, step)` correto
    5  pontos para `for` com `step` igual a `1` e teste interno para desconsiderar os pares
    0 para solução sem um `for` ou com mais do que um    
-   Quarto item    
    10 pontos para ```while``` correto, com incremento igual a 3    
    5  pontos para incremento 1 e verificação se o número é múltiplo de 3   
    0 para solução sem um `while` ou com mais do que um

![](../img/MC102-2018s1-Prova1-split/File 5.pdf)

### Solução
#### Primeiro item
Não há qualquer problema. O script simplesmente define e exibe o conteúdo da lista.

In [20]:
lista = [0, 2, "Maria", "José"]
tamanho = len(lista)
for i in range(tamanho):
    print(lista[i])

0
2
Maria
José

#### Segundo item
O script define uma _lista_ chamada `lista` e depois processa seus elementos, um a um. Se o valor do item for *"Mário"*, a condição do `if` é satisfeita e o `for` interno é executado, provocando a exibição dos valores `5` e `6`, em linhas separadas.

Como há dois elementos com o valor *"Mário"* na lista, essa impressão acontece duas vezes. 

Quando o `for` esgota a lista e termina, a string `Fim` é exibida.

In [21]:
lista = ["Mário", "Maroi", "Mário", "Maria"]
for a in lista:
    if (a == "Mário"):
        for n in range(5,7):
            print(n)
print("Fim")

5
6
5
6
Fim

#### Terceiro item
Para exibir **todos** os inteiros de `start` a `stop`, inclusive, basta fazer com que um `for` percorra `range(start, stop + 1)`, como mostra a solução abaixo.

In [22]:
for n in range(89, 101):
    print(n, end=' ')

89 90 91 92 93 94 95 96 97 98 99 100

#### Quarto item
Para exibir em ordem crescente **todos os inteiros ímpares** de `start` a `stop`, inclusive, basta fazer com que um `for` percorra `range(start, stop + 1, step)`, com `start` ímpar e `step = 2`, como mostra a solução abaixo.

In [23]:
for n in range(89, 100, 2):
    print(n, end=' ')

89 91 93 95 97 99

#### Quinto item
Era dado o código abaixo, que lê uma lista de `n` nomes.

In [24]:
n = int(input())
lista = []
for i in range(n) :
    lista.append(input())

Pede-se um comando que percorra a lista, exibindo os nomes com menos de 6 caracteres.

Para isso basta um `for` que percorra a lista, contendo um `if` que filtre os nomes com 6 ou mais caracteres, como no exemplo abaixo:

In [25]:
for nome in lista:
    if len(nome) < 6:
        print(nome)

Maria
Rosa
José

Alternativamente, você poderia gerar uma lista filtrada usando uma *list comprehension* e, depois, exibr essa lista.

In [26]:
nomes_curtos = [nome for nome in lista if len(nome) < 6]
print(nomes_curtos)

['Maria', 'Rosa', 'José']

### Critério de Correção
-   Primeiro item    
    6 pontos para exibição dos elementos da lista em linhas separadas    
    3 pontos para exibição dos elementos da lista numa mesma linha    
    0 se você concordou com o Mário.
-   Segundo item    
    6 pontos para exibição de todos os elementos    
    3 pontos para exibição de um par e "Fim"    
    1 ponto para exibição apenas de "Fim"    
    Metade dos pontos se exibiu os elementos um ao lado do outro.
-   Terceiro item    
    4 pontos para resposta correta
    2 pontos para resposta com erro em `stop`
-   Quarto item    
    4 pontos para resposta correta
    2 pontos para resposta com erro em `stop`    
    0 se`step` diferente de `2`.
-   Quinto item    
    10 pontos para código correto e completo     
    0 caso não tenha percorrido corretamente os elementos da lista
    Outros erros pontuados proporcionalmente

## Resultado

In [27]:
import pandas as pd
df1 = pd.read_csv("../data/MC102-2018s1-Prova1-Notas.csv")
df1

,Turma,RA,Nome,Q1,Q2,Q3,Q4,Q5,Nota
0,P,117628,Leonardo Yun Ho Lee,10,9,18,20,20,7.7
1,P,139404,Ediucio de Souza Silva,0,0,0,0,0,0.0
2,O,140767,Lucas Geraldini Ruzene,10,7,20,21,28,8.6
3,P,145675,Carolina Vilela Silva,10,9,16,17,24,7.6
4,O,146510,Isabela Vilar,10,8,10,12,25,6.5
5,P,147210,Maria Carolina Caramatti,10,7,14,9,17,5.7
6,P,147454,Milena Caroline Machado,10,10,20,16,27,8.3
7,O,148564,Gabriele Aparecida Peron Broglio,2,5,5,11,12,3.5
8,P,150757,Matheus Martins de Carvalho,10,8,17,18,25,7.8
9,O,154532,Alkíndar José Ferraz Rodrigues,10,6,20,15,24,7.5
10,P,155377,Fernando Ritt Filho,10,9,20,16,18,7.3
11,O,155640,Guilherme Teixeira Gonsalez,10,8,14,25,30,8.7
12,P,156297,Lourrann Marcoss Dos S Oliveira,8,9,18,25,27,8.7
13,O,157266,Silas da Silva,10,10,14,26,30,9.0
14,P,157313,Taís Prisco Pinheiro,10,8,20,27,27,9.2
15,P,157704,Augusto Carvalho D'Arruda Neto,6,8,10,4,18,4.6
16,O,159587,Alison Eduardo Ventura Dariolli,10,9,15,28,16,7.8
17,O,159866,Marcela Chenfel Dos Anjos,10,0,6,10,5,3.1
18,P,160316,Giovanna Maria Cappa Hernandes,8,4,20,0,5,3.7
19,P,165219,Alexandre de Oliveira Souza,4,9,14,15,13,5.5
20,O,165271,Bruno Lourenço Zanardo,10,9,15,17,14,6.5
21,O,165444,Caio Henrique do Amaral,10,10,20,24,26,9.0
22,O,165759,Carolina Costa Bettoni Moreira,10,9,18,14,22,7.3
23,P,166508,Deivit Lopes Bonach,8,9,17,18,30,8.2
24,O,166982,Ayrton Airemoraes Capelo,10,10,20,29,30,9.9
25,P,167002,Bárbara Bueno Henriques,10,10,17,20,22,7.9
26,O,170437,Elton Pinheiro da Silva,6,7,10,12,24,5.9
27,P,171556,Fernando Picozzi Coelho,10,3,18,11,11,5.3
28,P,171946,Gabriel Cavalca Coutinho,4,5,15,11,20,5.5
29,P,172090,Gabriel Felipe Silva,6,9,20,17,26,7.8
30,P,172656,Lucas da Conceição,10,6,18,16,30,8.0
31,O,176116,Rafael de Sousa,10,9,17,16,28,8.0
32,O,176644,Jose Mario dos Santos Filho,10,1,18,20,13,6.2
33,P,178510,Vítor Pedroso Figueira,4,9,18,12,24,6.7
34,P,185026,Nathália Medeiros Macêdo,10,10,18,18,27,8.3
35,O,186189,Rafaela Carvalho Pinto,10,8,18,22,24,8.2
36,P,186616,Ricardo Leme Da Silva Junior,4,7,20,14,27,7.2
37,P,186781,Rodrigo Guerra Trigo,10,6,18,4,26,6.4
38,P,188561,Vittor Tadeu do Amaral Olival,10,9,10,15,27,7.1
39,P,193699,Amanda Fernandes Nascimento,10,5,20,10,30,7.5
40,O,194133,André Morellato Haddad,10,8,12,6,13,4.9
41,O,195966,Danilo Jorge De Castilho Marques,10,9,7,7,20,5.3
42,P,197166,Gabriel Arcangel Enriquez Alves Gomes,10,2,17,20,14,6.3
43,O,198066,Giovanna Simões Proença,10,6,18,21,23,7.8
44,O,198753,Henrique Botelho Zuiani,10,9,20,18,28,8.5
45,O,199737,João Pedro Gobby Bandini,10,8,20,16,30,8.4
46,O,200608,Kaue Orlando Pereira,6,10,20,17,26,7.9
47,P,201116,Leonardo Cesar Silva Dos Santos,10,9,20,19,25,8.3
48,O,201199,Leonardo Inhan Segantin,10,7,12,18,26,7.3
49,O,204147,Nicolas De Sousa Imagawa,6,9,17,24,28,8.4
50,O,206642,Victória Fernanda Genaro Silva,10,8,18,7,26,6.9
51,P,206663,Victória Nogueira Baena,10,10,18,16,26,8.0
52,O,206752,Vinícius De Oliveira Moraes,10,10,18,10,30,7.8

## Ausentes

In [28]:
df2 = pd.read_csv("../data/MC102-2018s1-Prova1-Ausentes.csv")
df2

  Turma      RA                       Nome
0     O  115949  Alessandro Silveira Rocha
1     O  154503      Alexandre Hsu Han Liu
2     P  157000              Pedro Minucci
3     O  201529       Lia Aguiar Marsicano